<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <title>Account Details</title>
    <<link rel="stylesheet" type="text/css" th:href="@{~/css/styles.css}">


</head>
<body>
    <h1>Account Details</h1>

    <div>
        <form action="" method="post">
            <div>
                <label>Account Name</label>
                <input type="text" th:field="${account.accountName}" />
            </div>
            <input type="submit" value="Update Account"/>
        </form>
    </div>
    <a th:href="@{/users/{userId} (userId = ${user.userId})}">Back</a>

</body>
</html>