<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<title>Users</title>
</head>

<body>
	<h1>Users</h1>

	<div th:if="${#lists.size(users) == 1}">
		<form action="" method="post">
			<div>
				Username: <input type="text" id="username" th:field="*{user.username}" />
			</div>
			<div>
				Password: <input type="password" id="password" th:field="*{user.password}" />
			</div>
			<div>
				Name: <input type="text" id="fullName" th:field="${user.name}" />
			</div>
			<hr/>
		<h2>Address Information</h2>
			<div>
				<label for="addressLine1">Address Line 1:</label>
				<input type="text" id="addressLine1" th:field="${user.address.addressLine1}" />
			</div>
			<div>
				<label for="addressLine2">Address Line 2:</label>
				<input type="text" id="addressLine2" th:field="${user.address.addressLine2}" />
			</div>
			<div>
				<label for="city">City:</label>
				<input type="text" id="city" th:field="${user.address.city}" />
			</div>
			<div>
				<label for="region">Region:</label>
				<input type="text" id="region" th:field="${user.address.region}" />
			</div>
			<div>
				<label for="country">Country:</label>
				<input type="text" id="country" th:field="${user.address.country}" />
			</div>
			<div>
				<label for="zipCode">Zip Code:</label>
				<input type="text" id="zipCode" th:field="${user.address.zipCode}" />
			</div>
			<div>
				<input type="submit" value="Update User Account" />
			</div>
		</form>

		<div th:each="account : ${user.accounts}">
			<span th:text="${account.accountName}"></span>
		</div>
		<form th:action="@{/users/{userId}/delete(userId=${user.userId})}" method="post">
			<input type="submit" value="Delete User Account" />
		</form>

	<hr/>

	<h2>Accounts</h2>
		<form method="post" th:actions="@{/users/{userId}/account (userId=${user.userId})}">
			<div th:each="account : ${user.accounts}">
				<a method="get" th:href="@{/users/{userId}/account/{accountId}(userId=${user.userId}, accountId=${account.accountId})}">
					<span th:text="${account.accountName}"</span>
				</a>

			</div>


	<div th:unless="${#lists.size(users) == 1}" th:each="user : ${users}">
		<a th:href="@{/users/{userId}(userId=${user.userId})}">
			<span th:text="${user.userId}"></span>
		</a><br/>
		<span th:text="${user.username}"></span><br/>
		<span th:text="${user.name}"></span><br/>
		<span th:text="${user.password}"></span>
		<div th:each="account : ${user.accounts}">
			<span th:text="${account.accountName}"></span>
		</div>
		<hr/>
	</div>
</body>
</html>